/* マージン調整 */
.u-mt-50  { margin-top: -50px  !important;}
.u-mt0  { margin-top: 0px  !important;}
.u-mt3  { margin-top: 3px  !important;}
.u-mt5  { margin-top: 5px  !important;}
.u-mt10 { margin-top: 10px !important;}
.u-mt15 { margin-top: 15px !important;}
.u-mt20 { margin-top: 20px !important;}
.u-mt25 { margin-top: 25px !important;}
.u-mt30 { margin-top: 30px !important;}
.u-mt35 { margin-top: 35px !important;}
.u-mt40 { margin-top: 40px !important;}
.u-mt45 { margin-top: 45px !important;}
.u-mt50 { margin-top: 50px !important;}
.u-mt60 { margin-top: 60px !important;}

.u-mb0  { margin-bottom: 0px  !important;}
.u-mb5  { margin-bottom: 5px  !important;}
.u-mb10 { margin-bottom: 10px !important;}
.u-mb15 { margin-bottom: 15px !important;}
.u-mb20 { margin-bottom: 20px !important;}
.u-mb25 { margin-bottom: 25px !important;}
.u-mb30 { margin-bottom: 30px !important;}
.u-mb35 { margin-bottom: 35px !important;}
.u-mb40 { margin-bottom: 40px !important;}
.u-mb45 { margin-bottom: 45px !important;}
.u-mb50 { margin-bottom: 50px !important;}
.u-mb60 { margin-bottom: 60px !important;}
.u-mb80 { margin-bottom: 80px !important;}
.u-mb100 { margin-bottom: 100px !important;}
.u-mb110 { margin-bottom: 110px !important;}
.u-mb120 { margin-bottom: 120px !important;}
.u-mb180 { margin-bottom: 180px !important;}
.u-mb220 { margin-bottom: 220px !important;}

.u-ml0  { margin-left: 0px  !important;}
.u-ml5  { margin-left: 5px  !important;}
.u-ml10 { margin-left: 10px !important;}
.u-ml15 { margin-left: 15px !important;}
.u-ml12 { margin-left: 12px  !important;}
.u-ml18 { margin-left: 18px  !important;}
.u-ml20 { margin-left: 20px !important;}
.u-ml25 { margin-left: 25px !important;}
.u-ml30 { margin-left: 30px !important;}
.u-ml35 { margin-left: 35px !important;}
.u-ml40 { margin-left: 40px !important;}
.u-ml45 { margin-left: 45px !important;}
.u-ml50 { margin-left: 50px !important;}

.u-mr0  { margin-right: 0px  !important;}
.u-mr5  { margin-right: 5px  !important;}
.u-mr10 { margin-right: 10px !important;}
.u-mr15 { margin-right: 15px !important;}
.u-mr20 { margin-right: 20px !important;}
.u-mr25 { margin-right: 25px !important;}
.u-mr30 { margin-right: 30px !important;}
.u-mr35 { margin-right: 35px !important;}
.u-mr40 { margin-right: 40px !important;}
.u-mr45 { margin-right: 45px !important;}
.u-mr50 { margin-right: 50px !important;}

.u-pt0  { padding-top: 0px  !important;}
.u-pt5  { padding-top: 5px  !important;}
.u-pt10 { padding-top: 10px !important;}
.u-pt15 { padding-top: 15px !important;}
.u-pt20 { padding-top: 20px !important;}
.u-pt25 { padding-top: 25px !important;}
.u-pt30 { padding-top: 30px !important;}
.u-pt35 { padding-top: 35px !important;}
.u-pt40 { padding-top: 40px !important;}
.u-pt45 { padding-top: 45px !important;}
.u-pt50 { padding-top: 50px !important;}
.u-pt60 { padding-top: 60px !important;}

.u-pb0  { padding-bottom: 0px  !important;}
.u-pb5  { padding-bottom: 5px  !important;}
.u-pb10 { padding-bottom: 10px !important;}
.u-pb15 { padding-bottom: 15px !important;}
.u-pb20 { padding-bottom: 20px !important;}
.u-pb25 { padding-bottom: 25px !important;}
.u-pb30 { padding-bottom: 30px !important;}
.u-pb35 { padding-bottom: 35px !important;}
.u-pb40 { padding-bottom: 40px !important;}
.u-pb45 { padding-bottom: 45px !important;}
.u-pb50 { padding-bottom: 50px !important;}
.u-pb60 { padding-bottom: 60px !important;}
.u-pb80 { padding-bottom: 80px !important;}
.u-pb100 { padding-bottom: 100px !important;}
.u-pb110 { padding-bottom: 110px !important;}
.u-pb120 { padding-bottom: 120px !important;}

.u-pl0  { padding-left: 0px  !important;}
.u-pl5  { padding-left: 5px  !important;}
.u-pl10 { padding-left: 10px !important;}
.u-pl15 { padding-left: 15px !important;}
.u-pl20 { padding-left: 20px !important;}
.u-pl25 { padding-left: 25px !important;}
.u-pl30 { padding-left: 30px !important;}
.u-pl35 { padding-left: 35px !important;}
.u-pl40 { padding-left: 40px !important;}
.u-pl45 { padding-left: 45px !important;}
.u-pl50 { padding-left: 50px !important;}



.u-pr0  { padding-right: 0px  !important;}
.u-pr5  { padding-right: 5px  !important;}
.u-pr10 { padding-right: 10px !important;}
.u-pr15 { padding-right: 15px !important;}
.u-pr20 { padding-right: 20px !important;}
.u-pr25 { padding-right: 25px !important;}
.u-pr30 { padding-right: 30px !important;}
.u-pr35 { padding-right: 35px !important;}
.u-pr40 { padding-right: 40px !important;}
.u-pr45 { padding-right: 45px !important;}
.u-pr50 { padding-right: 50px !important;}

//wd-xxx
.u-wd-90 {width: 90px !important;}
.u-wd-140 {width: 140px !important;}
.u-wd-160 {width: 160px !important;}
.u-wd-240 {width: 240px !important;}
.u-wd-270 {width: 270px !important;}
.u-wd-300 {width: 300px !important;}
.u-wd-320 {width: 320px !important;}
.u-wd-359 {width: 359px !important;}


/* 整列系 */
.u-ta-center { text-align: center !important;}
.u-ta-right { text-align: right;}
.u-ta-left { text-align: left;}

.u-hd-90 { height: 90px !important;}

.u-m0-auto{
  margin: 0 auto;
}

///
.u-overflow-h{
  overflow: hidden;
}

///
.u-clear{
  clear: both;
}

///
.u-float-l{
  float: left;
}

//flex
.u-flex-center{
  @include flex-center;
}
.u-flex-center-center {
  @include flex-center-center;
}

.u-bg-color-promenade {
  background: $color-promenade;
}
.u-color-salomie{
  color: #FFE390;
}

.u-color-strong-red{
  color: $color-strong-red;
}
