/* ==============================
layout / manus-inspection-about-open-sp
================================= */

.l-company-inspection-about-sp{
    @extend .l-main-content;
    width: 100%;
    .company-inspection-about-inner{
        padding:20px;
        @extend .c-white-shadow-rect;
        .company-inspection-header{
           display: flex;
            width: 100%;
            height: 65px;
            margin-top: 30px;
            justify-content: space-between;
            position: relative;
            .company-inspection-2{
            margin-left: 1%;
            display: block;
             width: 22%;
              height:auto;
              
              display: flex;
              align-items: center;
              justify-content:center;
              text-align: center; 
              background-color:$color-navy;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              opacity: 0.5;
              button{
                padding:0;
              }
              &:hover{opacity: 1;}

          }
          .company-inspection-1{
            button{ padding:0px;}
            width: 35%;
            margin-left: 1%;
            display: block;
              height: auto;
              // padding: 5px;
              display: flex;
              align-items: center;
              justify-content:center;
             
              text-align: center; 
              background-color:$color-navy;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              opacity: 0.5;
              &:hover{opacity: 1;}
          }
            .item-active {
                opacity: 1;
                &:before {
                  content: "";
                  position: absolute;
                  top: 95.5%;
                  margin-left: -2px;
                  border: 12px solid transparent;
                  border-top: 12px solid $color-navy;
                }
                &>a {
                  opacity: 0.5;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
        }
        .company-inspection-new{
            padding: 5px 0px 0px 0px;
            display: flex;
            align-items: flex-end;
            img{
              margin-right: 10px;
            }
        }
        @extend .company-form;
    }
}
.company-form{
  margin-top: 40px;
    img{
      vertical-align: baseline;
    }
    .company-form-2{
        @extend .company-form-inner;
        border-top: 1px dashed $color-navy ;
    }
   .company-form-inner{
     .company-inner-left{
       margin-top: 40px;
      .send{
        color:$color-dove-gray;
      }
      .left-top{
        .left-top-center{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          p{
            line-height:20px;
          }
          span{
            display:block;
          }
         
        }
      }
      .background-red{
        background-color:$color-strong-red;
        border-radius: 10px;
        padding:2px 5px;
        color:white;
      }
      .color-red{color:$color-strong-red;
      line-height: 0;
      letter-spacing: -0.05rem;
      }
      .background-blue{
        background-color:$color-science-blue;
        border-radius: 10px;
        padding:2px 5px;
       
        color:white;
        text-align: center;
        align-items:center;
      }
       
     }
     .company-inner-center{
       @include flex-left;
       width: 146px;

      .btn-w146 {
        padding: 0;
      }
      img{
        vertical-align: bottom;
      }
     }
     .company-inner-right{
      @include flex-center;
       width: 100%;
       height: auto;
       background-color:$color-light-blue-d2;
       padding:20px;
       margin-top:30px;
       .step{
        flex-basis: 90px;
        min-width: 90px;
        margin-right: 20px;
         opacity: 0.5;
         color:$color-navy;
         display: flex;
         text-align: center;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding-top: 4px;
       }
      .button{
        flex-grow: 1;

        &>.btn-def {
          padding: 10px 10px 10px;
          background-color: $color-navy;
          color: $color-white;
          min-width: 100%;
          #icon_img {
            margin-bottom: -6px;
          }
  
          #icon_img_path {
            margin-bottom: -1.5px;
          }
        }

      }
      &.u-p68 { 
        padding: 30px 68px 30px 68px !important;
      }
     }
     .company-inner-center{
       opacity: 1;
       &:hover{
         opacity: 0.5;
       }
     }

   }
}
.form-inner-company{
    width: 100%;
    height: auto;
    background-color: $color-light-blue-d2;
    padding: 30px;
    .color-white {
      width: 100%;
      padding: 15px 15px 15px 25px;
      line-height: 1.5;
      border-radius: 3px;
      border: 1px solid #083B92;
      cursor: pointer;
      min-width: 200px;
      @include flex-center;
      justify-content: center;
      background-color: $color-navy;
    }
    p{
      margin-left: 15px;
    }
   }



.l-footer-manus-sp{
    background-color:$color-white-pink !important;  
    border-top: 1px solid $color-pippin  ;
    width: 100%;
    .toggle{
        display: block;
        color:$color-strong-red;
        padding: 20px;
        font-size: 20px;
        cursor: pointer;
      }
    .main-footer-sp{
        width: 100%;
        // display: none;
        padding: 10px;
        .main-content-1{
           .item-3{
            width: 96px;
            height: 20px;
            border-radius: 12px;
            border: 1px solid $color-navy;
            text-align: center;
           }
        }
        .main-content-2{
            width: 114px;
            height: 32px;
            background-color:$color-pippin ;
        }
        .main-content-3{
            width: 100%;
          border-top: 1px dashed $color-navy;
          height: auto;
          .item-3{
            width: 96px;
            height: 20px;
            border-radius: 12px;
            border: 1px solid $color-navy;
            text-align: center;
            
          }
        }
        .main-content-4{
            margin: 20px 0px 30px 0px;
          .main-content-4-left{
            width: 100%;
            @include flex-left;
            margin-bottom: 5px;
            .time{
              background-color:$color-pippin  ;
             
              width: 35%;
              height: 32px;
              padding-left: 5px;
            }
           
            .item-5{
                padding:10px;
                width: 55%;
                height: 32px;
                @include flex-left;
                background-color:$color-pippin  ;
                margin-bottom: 5px;
                .item-5-blue{
                  background-color:$color-navy;
                  color:white;
                  border-radius:13px;
                  padding:1px 5px;
                }
              }
          }
        }
    
    }
  }
  
