/* ==============================
layout / top
================================= */

.custom-box-shadow {
  background: $color-white;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
}
.l-menu-content {
  @extend .custom-box-shadow;

  height: auto;
  width: 100%;

  & > .menu-inner {
    & > .process {
      padding: 46px 0 21px 0;

      @include flex-left;

      & > .title {
        color: $color-science-blue;
      }
    }

    & > .blank {
      height: 6px;
      width: 100%;
      background-color: $color-white;
    }

    & > .step {
      display: flex;
      background-color: $color-navy;

      & > .left {
        flex-grow: 1;
        @include flex-column-center;

        padding-left: 18px;

        height: 100px;

        color: $color-white;

        & > .title {
          opacity: 0.5;
        }
      }

      & > .right {
        @include flex-center-center;
        flex-basis: 37px;
      }
    }

    & > .menu-bottom {
      width: 100%;
      padding: 71px 22px 50px 22px;

      & > .menu-bottom-title {
        @include flex-left;
        color: $color-science-blue;
      }

      & > .menu-bottom-inner {
        @include flex-column-center;
        padding: 30px 0px 10px 10px;
        @extend .c-white-shadow-rect;
        background-color: $color-science-blue !important;

        & > a {
          @include flex-left;
          margin-bottom: 20px;

          color: $color-white;

          & > #pl12 {
            padding-left: 12px;
          }
        }

        i {
          text-decoration: underline;
        }
      }

      & > .menu-bottom-inner-notify {
        background-color: white;
        padding: 20px;
        @extend .custom-box-shadow;

        & > .inner-content {
          display: block;
          .sanka-ku{
            margin-top: 3px;
          }
          & > img {
            float: left;
          }
          span {
            text-decoration: underline;
          }
        }

        & > .inner-content:first-child {
          @include flex-left;
          background-color: $color-pippin;
          padding: 15px;

          span {
            text-decoration: underline;
          }
        }
      }

      & > .menu-bottom-inner-login {
        height: 68.7px;
        @extend .custom-box-shadow;
        @include flex-center-center;

        a {
          @include flex-center-center;
          & > div {
            color: $color-science-blue;
            padding: 0 9px;
            letter-spacing: -0.5px;
          }
        }
        & > .inner-content {
          img {
            padding-bottom: 3px;
          }
        }

        .icon-popup {
          opacity: 0.3;
        }
      }
    }
  }
}
