/* ==============================
layout / search_case
================================= */

.l-request-various-other{
  @extend .c-white-shadow-rect;
  // padding:40px 30px;

  width: 100%;
  height: auto;
  overflow: hidden;
}

.selected-job{
  padding: 0 20px 15px 20px;
}









